.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #b2aa9c;
}

.todo-item--done {
  opacity: 0.5;
}

.todo-item:first-child {
  border-top: 1px solid #b2aa9c;
}

.todo-item__index {
  min-width: 20px;
  font-size: 18px;
  text-align: center;
}

.todo-item__delete-button {
  min-width: 100px;
}

.todo-item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.todo-item__name-input {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}
