.app {
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
  font-family: 'Roboto', Arial, sans-serif;
}

.app__title {
  text-align: center;
}

.button {
  min-width: 100px;
  padding: 10px 20px;
  border: none;
  background: #ef9a9a;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  background: #f2aeae;
}
